<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>calculator main page</h1>
    <form method="POST">
        {% csrf_token %}
   
    <input type="text" name="num1" placeholder="Enter num1" require><br><br>
    <input type="text" name="num2" placeholder="Enter num2" require><br><br>
    <input type="text" name="op" placeholder="Enter operator" require><br><br>
    <button type="submit">submit</button><br>
    </form>
    {% if result %}
    <h2> result:{{result}}</h2>
    {% endif %}
</body>
</html>